.card {
    border-radius: 2px;
    height: 200px;
    width: 200px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    background: rgb(109, 175, 142);
    box-shadow: 10px 7px 8px #888888
}
  
img {
    height: 95%;
    width: 95%;
    margin: auto;
}

.card:hover {
    background: rgba(18, 18, 121, 0.7);
}
  